body{
    background: #F487F8;
    display: flex;
    flex-flow: row wrap;

}
header {
    background:#7811d8;
    color: black;
    font-family: 'Satisfy', cursive;
    font-size: 50px;
    justify-content: center;
    /* text-align: center;
    margin:20px;  */
    border-radius:50px;
}
#cats{
    width: 100px;
    height: 125px;
    /* float: left; */
}
#catsOne{
    width: 100px;
    height: 125px;
    /* float: right; */
    -webkit-transform: scaleX(-1);
        transform: scaleX(-1)
}
.info{
    background: #F2F95F;
    color: rgb(162, 0, 255);
    align-content: flex-end;
    /* text-align: justify; */
    /* font-size: 25px;
    margin:20px; */
   
    font-family: 'Courier New', Courier, monospace;
    padding: 50px; 
    border-radius:50px;
}
#fact{
    margin-top:20px;
}
#dogs{
    width: 250px;
    height: 275px;
    margin-left: 100px;
}
#movies{
    margin-top: 75px;
   
}
#dragon{
    width: 200px;
    height: 150px;
    margin-right:50px; 
    float: right;
}
ul{
    list-style: disc;
    margin-left:40px;
}
ol{
    list-style: decimal;
    margin-left:60px;

}

