header{
    background:rgb(82, 3, 156);
    color: black;
    margin-left: 200px;
    margin-right: 200px;
    font-family: fantasy;
    font-size: 50px;
    text-align: center;
}
body{
    background: yellow;
}
#intro{
    background: green;
    color: aqua;
    font-size: 25px;
    margin-left:100px;
    margin-right:100px;
    font-family: 'Courier New', Courier, monospace;
    padding: 10px; 
}
#funfact{
    padding:20px,10;
    margin-top: 40px;
}
ul{
    list-style: disc;
    margin:50px;
}