body{
    background: #e2e2e2;
    flex-flow: row wrap;
}
a{
    color: rgb(236, 235, 235);
    text-decoration: none;
}
a:hover{
    /* background-color: rgb(236, 158, 255); */
    background-image: radial-gradient( rgb(236,158,255), rgb(250, 240, 249));
    color: #000;
    padding: .2em 1em;
    border-radius: 5em;
}
a:active{
    background-image: radial-gradient( mintcream,rgb(143, 245, 194) )
}
header {
    background:#7811d8;
    background-image: linear-gradient(to right,#49008d, #7811d8,#49008d);
    color: rgb(236, 235, 235);
    font-family: 'Satisfy', cursive;
    font-size: 3.5em;
    display: flex;
    justify-content: center;

}
h2{
    padding:.9em .3em .8em .4em;
}
header #cats{
    width: 2em;
    height: 2.5em;
}
header #catsOne{
    width: 2em;
    height: 2.5em;
    -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
}
nav ul{
    list-style: none;
    background: #9625ff;
    font-family: 'Satisfy', cursive;
    font-size: 2em;
    display: flex;
    justify-content: space-evenly;
    padding: .2em .1em .2em .1em;
}
.info{
    background-color: ivory;
    align-content: flex-end;
    font-size: 1.5em;
    font-family: 'Source Sans Pro', sans-serif;
    line-height: 1.5em;
    padding: 1.5em; 
    margin: 0em 3em 0em 3em;
}
h1{
    background:#7811d8;
    border-width: .25em;
    border-style: solid;
    border-image:linear-gradient(45deg,  rgb(234, 0, 255), rgb(255, 41, 166));
    border-image-slice: 1;
    color: rgb(236, 235, 235);
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.5em;
    margin-left:.5em;
    margin-bottom: .3em;
    padding: .5em;
    flex-grow: 10;
    
}
#heading-about{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
#about{
    background: rgb(249, 255, 134);
    color: rgb(162, 0, 255);
    padding: 1.5em;
    border-radius: .5em;
    box-shadow: .4em .4em #E0D7E0;
    margin-bottom: 3em;
    display: flex;
    flex-flow: row wrap;
    align-items:flex-end;
    justify-content: flex-end;
    align-content: flex-end;
}
#test{
    height: 1.5em;
    width: 1.5em;
    margin-right: 1em;
    border-radius: 5em;
    vertical-align: middle;
}
#chick{
    height: 5.5em;
    width: 5.5em;
    vertical-align: top;
    border-width: .5em;
    border-style: dashed;
    border-image:linear-gradient(45deg,  rgb(0, 255, 21), rgb(206, 23, 252));
    border-image-slice: 1;
}
#funfact{
    background: rgb(249, 255, 134);
    color: rgb(162, 0, 255);
    box-shadow: .4em .4em #E0D7E0;
    padding: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items:flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: 2em;
    border-radius: .5em;
}
#funfact div{
    padding-right: 2em;
}
#funfact ul{
    list-style: disc;
    margin-left: 2em;

}
#dogs{
    width: 250px;
    height: 275px;
    box-shadow: .4em .4em rgb(214, 221, 85);
 
}
#movies{
    background: rgb(249, 255, 134);
    color: rgb(162, 0, 255);
    box-shadow: .4em .4em #E0D7E0;
    padding: 1.5em;
    display: flex;
    flex-flow: row nowrap;
    align-items:flex-start;
    justify-content: flex-start;
    align-content: flex-start;
    margin-bottom: .5em;
    border-radius: .5em;
   
}
#dragon{
    width:1em;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    animation: myfirst 5s 2;
    animation-direction: alternate;
}
  @keyframes myfirst {
    0%   {left: 0px; top: 0px;}
    100%  {left: 200px; top: 0px;}
  }

ol li:before {
    content: '';
    display: inline-block;
    height: 25px;
    width: 35px;
    background-image: url('photos/baby-dragon.png');
    background-size: contain;
    background-repeat: no-repeat;
    margin-left: 35px;
    margin-right:.5em ;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);



}